
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
}
.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-top: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
h1 {
  margin: 0;
  color: #333;
}
button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 10px;
}
.sign-out {
  background-color: #e74c3c;
}
.about-us {
  background-color: #2ecc71;
}
.sign-out,
.about-us {
  font-size: 12px;
}
.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.sort-container button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}
.add-todo {
  display: flex;
  margin-bottom: 20px;
}

.add-todo input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
}

.add-todo button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.todo-list {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
}

.todo-item.completed {
  background-color: #ecf0f1;
}

.todo-header {
  display: flex;
  align-items: center;
}

.todo-header input {
  margin-right: 10px;
}

.deadline-container {
  display: flex;
  align-items: center;
}

.deadline-container label {
  margin-right: 10px;
}

.editing-message {
  color: #3498db;
  font-size: 12px;
  margin-left: 10px;
}

.actions button {
  background-color: #e74c3c;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  margin-left: 10px;
}

.edit-todo {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.edit-todo input {
  flex: 1;
  padding: 8px;
  font-size: 16px;
  margin-right: 10px;
}

.edit-todo button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.auth-form {
  max-width: 300px;
  margin: 0 auto;
}

.auth-form h2 {
  margin-bottom: 20px;
}

.auth-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 16px;
}

.auth-form button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.modal h2 {
  margin-bottom: 10px;
}

.modal p {
  margin-bottom: 20px;
}

.modal button {
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 16px;
}
